$class: ".birthday-list";

#{$class} {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  &__item {
    display: grid;
    grid-template-areas:
      "name group actions"
      "date . actions";
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
  }

  .name {
    grid-area: name;
  }
  .date {
    grid-area: date;
  }
  .group {
    grid-area: group;
  }
  .actions {
    grid-area: actions;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
