$class: ".l-filters";

#{$class} {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  &__item {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 14px;
      color: #333;
    }
  }
}
