$class: ".pagination";

#{$class} {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  margin-top: 10px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;

  &__link {
    text-decoration: none;
    color: #5F6C80;
    background-color: #DDD9D9;
    border: 1px solid #DDD9D9;
    padding: 3px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &--disabled {
      pointer-events: none;  
      color: #999;           
      border-color: #ccc;
      cursor: not-allowed;
    }

    &:active {
      color: #FFFFFF;
      background-color: #1E90FF;
      border: 1px solid #163177;
    }
  }
}