// -- TEMA AZUL --

:root {
  --color-primary-100: #D7E5F2;
  --color-primary-200: #9BBCDB;
  --color-primary-300: #5F93C5;
  --color-primary-400: #376B9B;
  --color-primary-700: #224160;
  --color-primary-900: #0C1824;

  --bg: #e5ecf3;
  --bg-light: #eef2f7;
  --btn-bg: #D7E5F2;
  --btn-color: #5F93C5;
  --box-color-border: #7fa4c7;
  --box-color-box-shadow: #0C1824;

  --color-disabled-text: #9BBCDB;     
  --color-disabled-bg: #E5ECF3;       
  --color-disabled-border: #D7E5F2; 

  --font-family-roboto: "Roboto", sans-serif;
}

// -- TEMA VERMELHO --

// :root {
//   --color-primary-100: #FDE8E8; 
//   --color-primary-200: #F9C5C5; 
//   --color-primary-300: #F29B9B;
//   --color-primary-400: #E57373; 
//   --color-primary-700: #B85C5C; 
//   --color-primary-900: #4C1E1E; 

//   --bg: #FEF3F3;           
//   --bg-light: #FFF7F7;        
//   --btn-bg: #FDE8E8;
//   --btn-color: #F29B9B;
//   --box-color-border: #F29B9B;
//   --box-color-box-shadow: #4C1E1E;

//   --color-disabled-text: #F9C5C5;   
//   --color-disabled-bg: #FEF3F3;    
//   --color-disabled-border: #FDE8E8;  

//   --font-family-roboto: "Roboto", sans-serif;
// }

// -- TEMA ROXO --

// :root {
//   --color-primary-100: #F1E8FB;
//   --color-primary-200: #DCC7F6; 
//   --color-primary-300: #C0A5F2; 
//   --color-primary-400: #A885E8; 
//   --color-primary-700: #6B52A3;
//   --color-primary-900: #2E1C52; 

//   --bg: #F6F0FC;               
//   --bg-light: #FBF8FE;          --btn-bg: #F1E8FB;
//   --btn-color: #C0A5F2;
//   --box-color-border: #C0A5F2;
//   --box-color-box-shadow: #2E1C52;

//   --color-disabled-text: #DCC7F6;    
//   --color-disabled-bg: #F6F0FC;       
//   --color-disabled-border: #F1E8FB;   


//   --font-family-roboto: "Roboto", sans-serif;
// }
